<div class="galeria-container bg-light">
  <h1 class="text-secondary bg-light text-center mt-3">Galería</h1>

  <div class="tz-galery">
    <div class="row">
    <div *ngFor="let archivo of archivos; index as i;" class="galeria-item col-sm12 col-md-4 mt-3 mb-3">
      <a class="lightbox" [href]="ficheros[i]">
        <img *ngIf="archivo.endsWith('.jpg') || archivo.endsWith('.png') || archivo.endsWith('.gif')" [src]="ficheros[i]" alt="{{ archivo }}" class="img-fluid" />
      </a>
      <a class="lightbox" [href]="ficheros[i]" data-lightbox="galeria" data-title="{{ archivo }}">
        <video *ngIf="archivo.endsWith('.mp4')" controls class="img-fluid">
          <source [src]="ruta + archivo" type="video/mp4">
          Tu navegador no soporta el elemento de video.
        </video>
      </a>
    </div>
  </div>
</div>

