    <!-- About Start -->
    <div class="container py-5">
      <div class="row py-5">
          <div class="col-lg-7 pb-5 pb-lg-0 px-3 px-lg-5">
              <h4 class="text-secondary mb-3">{{ acerca.titulo }}</h4>
              <h1 class="display-4 mb-4"><span class="text-primary">Día</span> de <span class="text-secondary">Caridad</span></h1>
              <h5 class="text-muted mb-3">{{ acerca.subtitulo }}</h5>
              <p class="mb-4">{{ acerca.descripcion }}</p>
              <ul class="list-inline">
                  <li *ngFor="let lugar of acerca.lugares"><h5 ><i class="fa fa-check-double text-secondary mr-3"></i>{{ lugar }}</h5></li>
              </ul>
              <a href="" class="btn btn-lg btn-primary mt-3 px-4">Leer Más</a>
          </div>
          <div class="col-lg-5">
              <div class="row px-3 d-flex align-items-stretch" >
                  <div class="col-12 p-0">
                      <img loading="lazy" class="img-fluid w-100" src="../assets/img/about-1.jpg" alt="">
                  </div>
                  <div class="col-6 p-0">
                      <div class="img-container">
                          <img loading="lazy" class="img-fluid w-100" src="../assets/img/about-2.jpg" alt="">
                      </div>
                  </div>
                  <div class="col-6 p-0">
                      <div class="img-container">
                          <img loading="lazy" class="img-fluid w-100" src="../assets/img/about-3.jpg" alt="">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- About End -->