    <!-- Pricing Plan Start -->
    <div class="container-fluid bg-light pt-5 pb-4">
      <div class="container py-5">
          <div class="d-flex flex-column text-center mb-5">
              <h4 class="text-secondary mb-3">planes de Donaciones</h4>
              <h1 class="display-4 m-0">{{ donaciones.subtitulo1 }} <span class="text-primary">{{ donaciones.subtitulo2 }}</span></h1>
          </div>
          <div class="row">
              <div class="col-lg-4 mb-4" *ngFor="let donacion of donaciones.opciones">
                  <div class="card border-0" >
                      <div class="card-header position-relative border-0 p-0 mb-4">
                          <img loading="lazy" class="card-img-top" src="{{ donacion.imagen }}" alt="">
                          <div class="position-absolute d-flex flex-column align-items-center justify-content-center w-100 h-100" style="top: 0; left: 0; z-index: 1; background: rgba(0, 0, 0, .5);">
                              <h3 class="text-primary mb-3">{{ donacion.tipo }}</h3>
                              <h1 class="display-4 text-white mb-0">
                                  <small class="align-top" style="font-size: 22px; line-height: 45px;">{{ donacion.moneda }}</small>{{ donacion.precio }}<small class="align-bottom" style="font-size: 16px; line-height: 40px;">{{ donacion.plazo }}</small>
                              </h1>
                          </div>
                      </div>
                      <div class="card-body p-0">
                          <ul class="list-group list-group-flush ml-xl-5">
                              <li class="list-group-item p-2 mt-n3"><i class="fa fa-check text-secondary mr-2"></i>{{ donacion.beneficio1 }}</li>
                              <li class="list-group-item p-2"><i class="fa fa-check text-secondary mr-2"></i>{{ donacion.beneficio2 }}</li>
                              <li class="list-group-item p-2"><i class="fa fa-check text-secondary mr-2"></i>{{ donacion.beneficio3 }}</li>
                              <li class="list-group-item p-2"><i class="fa fa-check text-secondary mr-2"></i>{{ donacion.beneficio4 }}</li>
                          </ul>
                      </div>
                      <div class="card-footer border-0 p-0">
                          <a href="" class="btn btn-primary btn-block p-3" style="border-radius: 0;">Leer más</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Pricing Plan End -->