<!-- Booking Start -->
<div class="container-fluid bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class="bg-secondary py-5 px-4 px-sm-5">
          <form class="py-5">
            <div class="form-group">
              <input type="text" class="form-control border-0 p-4 equal-width" placeholder="Tu nombre" required="required" />
            </div>
            <div class="form-group">
              <input type="email" class="form-control border-0 p-4 equal-width" placeholder="Tu Email" required="required" />
            </div>
            <div class="form-group">
              <div class="date" id="date" data-target-input="nearest">
                <input type="text" class="form-control border-0 p-4 datetimepicker-input equal-width"
                  placeholder="Fecha de Reservación" data-target="#date" data-toggle="datetimepicker" />
              </div>
            </div>
            <div class="form-group">              
              <div class="time" id="time" data-target-input="nearest">
                <input type="text" class="form-control border-0 p-4 datetimepicker-input equal-width"
                  placeholder="Hora de Reservación" data-target="#time" data-toggle="datetimepicker" />
              </div>
            </div>
            <div class="form-group">
              <label>
                <select class="custom-select border-0 px-4 equal-width" style="height: 47px;" required>
                  <option value="" selected disabled hidden>Seleccione un servicio</option>
                  <option *ngFor="let donacion of donaciones" value="{{donacion.id}}">{{ donacion.tipo }}</option>
                </select>
            </label>
            </div>
            <div>
              <button class="btn btn-primary btn-block border-0 py-3 font-weight-bold" type="submit" (click)="enviarCorreo()">Agenda ahora</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-7 py-5 py-lg-0 px-3 px-lg-5">
        <h4 class="text-secondary mb-3">Deseas realizar una donación?</h4>
        <h1 class="display-4 mb-4">Agenda tu cita <br><span class="text-primary">Con nosotros</span></h1>
        <p>Unidos por la infancia y la vejez, transformando comunidades.</p>
        <div class="row py-2">
          <div class="col-sm-6" *ngFor="let cita of citas">
            <div class="d-flex flex-column">
              <div class="d-flex align-items-center mb-2">
                <h5 class="text-truncate m-0">{{ cita.tipo }}</h5>
              </div>
              <p>{{ cita.descripcion }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Booking Start -->