<a class="btn btn-secondary text-white mt-2" style="z-index: 2;" href="proyectos/">Regresar</a>

<div class="container-fluid py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="blob-container">
          <div class="blob-content">
            <h3 class="display-6 mb-4 text-primary text-center">{{ proyecto.titulo }}</h3>
            <p class="lead mb-4">{{ proyecto.descripcion }}</p>
            <div class="text-justify">
              <p [innerHTML]="proyecto.descripcionl"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
