<!-- Services Start -->
 <!-- 
<div class="container-fluid bg-light pt-5">
  <div class="container py-5">
    <div class="d-flex flex-column text-center mb-5">
      <h4 class="text-secondary mb-3">Nuestros Proyectos</h4>
      <h1 class="display-4 m-0"><span class="text-primary">Proyectos</span> Humanitarios</h1>
    </div>
    <div class="row pb-3">
      <div class="col-md-6 col-lg-4 mb-4" *ngFor="let proy of proyectos; index as i; first as isFirst;">
        <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5 flex-grow-1 h-100">
          <div class="flex-grow-1">
            <h3 [ngClass]="proy.iconclass" class="display-3 font-weight-normal text-secondary mb-3"></h3>
            <h3 class="mb-3">{{ proy.titulo }}</h3>
            <p class="text-justify">{{ proy.descripcion }}</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
-->
<!-- Services End -->

<div class="container-fluid bg-light pt-5">
  <div class="container py-5">
    <div class="d-flex flex-column text-center mb-5">
      <h4 class="text-secondary mb-3">Nuestros Proyectos</h4>
      <h1 class="display-4 m-0"><span class="text-primary">Proyectos</span> Humanitarios</h1>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-1 g-lg-4 align-content-center align-content-lg-center">
  <div class="col">
    <div class="card">      
      <div class="card-body">
        <div class="card-title">
          <h2 class="text-primary bg-light text-center">{{ proyecto.titulo }}</h2>
        </div>
        <div class="card-text">
          <small class="text-muted">
            <p class="text-justify bg-white">
              {{ proyecto.descripcionl }}
            </p>        
            <!-- <p class="card-text text-justify bg-white">{{ proyecto.descripcionl }}</p> -->
          </small>
        </div>
      </div>
    </div>
  </div>
</div>